[submodule "Tests/google-test"]
	path = Tests/google-test
	url = https://github.com/MrKepzie/google-test.git
[submodule "Tests/google-mock"]
	path = Tests/google-mock
	url = https://github.com/MrKepzie/google-mock
[submodule "google-breakpad"]
	path = google-breakpad
	url = https://github.com/MrKepzie/google-breakpad
